<div class="box-content md:box-content bg-cyan-700">
    <%= render 'form' %>
</div>

<% if @error.length > 0 %>
    <%= @error %>
<% else %>
    <br/>
    <h2 class="font-bold flex justify-center">Data Delta (daily) from <%= @start_date %> to <%= @end_date %> for <%= @place %></h2>
    <%= column_chart [{name: "Confirmed", data: @confirmed}, 
                      {name: "Recovered", data: @recovered}],
                     xtitle: "Date", ytitle: "Count",
                     stacked: true
    %>
    <hr/>
    <%= column_chart [{name: "Deaths", data: @deaths}],
                     xtitle: "Date", ytitle: "Count"
    %>
<% end %>