<div class="container bg-primary">
    <%= render 'form' %>
</div>

<% if @error.length > 0 %>
    <%= @error %>
<% else %>
    <br/>
    <h2>Global Data Delta (daily) from <%= @start_date %> to <%= @end_date %> for <%= @place %></h2>
    <%= column_chart [{name: "Confirmed", data: @confirmed}, 
                      {name: "Recovered", data: @recovered}],
                       stacked: true %>

    <%= column_chart [{name: "Deaths", data: @deaths}] %>
<% end %>