<div class="box-content md:box-content bg-cyan-700">
    <%= render 'form' %>
</div>

<% if @error.length > 0 %>
    <%= @error %>
<% else %>
    <br/>
    <h2 class="font-bold flex justify-center">India Daily Cumulative from <%= @start_date %> to <%= @end_date %> for <%= @place %></h2>
    <%= line_chart [{name: "Confirmed", data: @confirmed},
                    {name: "Deaths",    data: @deaths},
                    {name: "Recovered", data: @recovered}],
                   xtitle: "Date", ytitle: "Count" 
    %>
<% end %>